@import "compass/css3";

/* Variables and defaults. */

/* Colors. */
$LIGHT_BLUE:	#A0C3FF;
$LIGHT_RED:		#ED9D97;
$LIGHT_YELLOW:	#FFE168;
$LIGHT_GREEN:	#7BCFA9;
$MEDIUM_BLUE:	#76A7FA;
$MEDIUM_RED:	#E57368;
$MEDIUM_YELLOW:	#FBCB43;
$MEDIUM_GREEN:	#33B679;
$DARK_BLUE:		#4285F4;
$DARK_RED:		#db4437;
$DARK_YELLOW:	#F4B400;
$DARK_GREEN:	#0F9D58;

$BG_GREY:		#f5f5f5;
$EDGE_GREY:		#e5e5e5;


